/* iPads (portrait and landscape) ----------- */
@media (max-width: 768px) {
	body{ overflow-x: hidden;}
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
	.navbar-collapse {
		border-top: 1px solid transparent;
		box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
		padding-bottom: 20px!important;
	}
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-fixed-top .navbar-collapse, 
    .navbar-fixed-bottom .navbar-collapse {
	  text-align: center;
	}
	.gray-bg .vline {
	    left: 11%;
	}
	.navbar-right {
	    float: none !important;
	    margin-right: -15px;
	}
    .navbar-nav {
        float :  !important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    .navbar-collapse.collapse.in {display: block!important;}
    .collapsing {overflow: hidden!important; }
    .navbar-nav {margin: 0 -15px;}
    .navbar-nav .open .dropdown-menu > li > a, .navbar-nav .open .dropdown-menu .dropdown-header {
        padding: 10px 15px 10px 25px;
    }
    .price.panel-default {
	    margin: 40px;
	}
	.price.featured.panel-default {
	    margin: 40px;
	}
	.content-heading{ margin-top: 80px;}
	.ipad-wrapper .app-wrap {left: 22%;}
	#tf-home.app .content-heading.text-left{text-align: center;}
	#itemsWorkTwo .box .hover-text i.fa {
	    top: 0%;
	}
}
@media (max-width: 768px) {
	#tf-home.slider .content-heading {
    	margin-top: 30px;
	}
	#tf-home.slider h1 {
	    color: #FC3;
	    font-size: 28px;
	}
	.slider .content-heading p.lead { margin-bottom: 20px; }
	.slider .carousel-indicators { bottom: 30px; }

}
@media (max-width: 603px) { 
	.slider a.goto-btn { display: none;}
	.ipad-wrapper .app-wrap {left: 16%;}
	#tf-footer .pull-left,
    #tf-footer .pull-right {
	    float: none !important;
	    text-align: center;
	}
	
}

@media (max-width: 460px) {
	.gray-bg .vline {
	    left: 15%;
	}
	.meta-detail { display: none; }
    h1 { font-size: 34px;}
    #tf-home.slider h1 { font-size: 26px;}
    p.lead { display: none;}
    .slider .carousel-indicators { bottom: 0px; }
    .ipad-wrapper .app-wrap {left: 3%;}
}
@media (max-width: 360px) { 
	#tf-services,
	#tf-pricing,
	.section-header,
	.about-right-content,
	#tf-features, 
	#feature,
	#tf-works,
	#tf-blog,
	#tf-contact {
	  padding: 20px 0;
	}
	p{ font-size: 12px}
	h2{ font-size: 20px;}
	h4{ line-height: 20px;}
	ul.list-inline.cat > li{  margin-bottom: 20px;}
	.gray-bg .vline { left: 20%;}
	.post-meta {min-height: 50px;}
	.price.panel-default {
	    margin: 20px;
	}
	.price.featured.panel-default {
	    margin: 20px;
	}
	h1 {font-size: 26px}
	#tf-home.slider{ display: none;}
	#tf-intro.slider{ margin-top: 70px !important}
	.ipad-wrapper .app-wrap {display: none;}
	a.goto-btn {
	    margin-right: auto;
	    margin: 0 10px;
	}
	a.goto-btn {
	    display: inline-block;
	}
	.blog .post-meta {min-height: 55px;}
}
@media (max-width: 320px) { 
	.post-wrap .post .media-body p {display: none;}
	.gray-bg .vline { left: 25%;}
	.nav.nav-pills > li > a { font-size: 11px;}
	ul.features li span.fa {
	    font-size: 30px;
	    margin-top: 2px;
	}
	.post-tab .nav-tabs > li > a {
	    padding: 5px 10px;
	}
}

/* MAX-WIDTH 991px */
@media (max-width:991px) {

	.header .navbar-nav {
		margin: 0;
		float: none
	}

		.header .navbar-nav .nav-item {
			float: none
		}

	.header .menu-container:after, .header .menu-container:before {
		content: " ";
		display: table
	}

	.header .menu-container:after {
		clear: both
	}

	.header .logo .logo-img-main {
		display: none
	}

	.header .logo .logo-img-active {
		display: inline-block
	}

	.header .nav-item-child {
		line-height: 1.4;
		padding: 12px 12px 12px 15px
	}

	.header .nav-item-hover:after {
		position: absolute;
		top: 19px
	}

	/*======= TOGGLE MENU ======*/

	#toggle, #toggle + label {
		display: inherit;
	}

	#toggle {
		width: 45px;
		height: 40px;
		opacity: 0;
		border: none;
		margin: 35px 0;
		position: absolute;
		top: 0px;
		right: 0px;
		z-index: 1000;
		float: right;
		padding: 9px 10px;
		margin-top: 31px;
		margin-right: 35px;
		margin-bottom: 8px;
		background-color: transparent;
		background-image: none;
		border: 1px solid transparent;
		border-radius: 4px;
		cursor: pointer;
	}

	.menu-mobile {
		padding-top: 90px;
		text-align: center;
		background: #1a1a44;
		color: #FFF;
		width: 100%;
		height: 0px;
		overflow: hidden;
		transition: height 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
	}

	#toggle:checked ~ .menu-mobile {
		height: 300px;
	}

	#toggle + label {
		position: absolute;
		top: 27px;
		right: 50px;
		border: none;
		color: #ffffff;
		background-color: transparent;
		background-image: none;
		border: 1px solid transparent;
		border-radius: 4px;
	}

		#toggle + label:after {
			content: '\2630';
			font-size: 1.7em;
		}

	#toggle:hover + label {
		color: #ae952e;
	}

	#toggle:checked ~ .message {
		height: 150px;
	}

	#toggle:checked + label:after {
		content: '\2573';
		font-size: 1.4em;
	}
}

/* MIN-WIDTH 992px */
@media (min-width:992px) {

	.header .navbar-nav-right {
		float: right
	}
}